<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Premio-Pomodoro</title>

		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap"> -->
		<script src="https://kit.fontawesome.com/d8f5f7035a.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<!-- Header -->
		<header>
			<section class="intro">
				<h1>Premio-Pomodoro</h1>
				<p>A custom 'Pomodoro' app that displays a random reward once the timer hits 00:00!</p>
				 <span>Instructions:</span> 
				 <p>Use the cog wheel to change timer to your liking, then hit start!</p> 
				 <p>Once the timer ends, a random reward will appear. Enjoy!</p>
				
			</section> 
		</header>

		<!--Timer  -->
				<div class="container">
					<div class="outerRing">
						<div class="timer">
							<div id="time">
								<span id="minutes">25</span>
								<span id="colon">:</span>
								<span id="seconds">00</span>
							</div>
								<div id="stsp">START</div>
								<div id="reset">RESET</div>
								<span id="setting"><i class="fas fa-cog"></i></span>
						</div>
					</div>
				</div>
           
        <!--Reward -->
        <section class="reward-section" >
                <span>Reward:</span>
                <ul class="rewards">
                    <li id="place-reward"></li>
                </ul>
        </section>

          
		<!--Footer -->
		<footer>
			
				<ul class="social"> 
                    <li><a href="https://github.com/TartCodes" target="_blank"><i class="fa-brands fa-github-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/matt-tartaglione/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/TartCodes" target="_blank"><i class="fa-brands fa-twitter-square"></i></a></li>
                    <!-- <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram-square"></i></a></li>                -->
                </ul>			
		</footer>
		<script type="text/javascript" src="js/newmain.js"></script>
	</body>
</html>